$(FileObject:one)$(FilePattern:sitemap.html)
$(define:mkhref:$(MakeFilename:%.html))

<html><head><title>RAVL - Index</title></head>
<body BGCOLOR=#FFFFFF>

$(set:title=CONTENTS)
$(set:toroot=.)
$(include:../Class/topbar.stmpl)

<table width=100% align="middle">
<tr><td align=left valign=top bgcolor="#D7EFFF">
<BLOCKQUOTE>
<BR><BR>

<TABLE>
$(set:parent=)$(set:indent=&nbsp;)
$(forall:docnode:$(include:subNode.stmpl))
</TABLE>
</BLOCKQUOTE>
</td>
</tr></table>

$(include:../Class/footer.stmpl)

</body>
</html>
